.takePhotoButton.vertical{
	position: absolute;
	bottom:10px;
	left:50%;
	transform: translateX(-50%);
}

.takePhotoButton.horizontal {
	position: absolute;
	bottom:10px;
	right: 10px;
}

.lastPhoto {
	position: absolute;
	left:10px;
	bottom:10px;
}

.CameraContent{
	overflow: hidden !important;
}