#ad-MyUsers{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

.add_invoice{
	color:#394246 !important;
	height: 50px!important;
}

.add_invoice:hover{
	color:white !important;
	background: rgba(57, 66, 70, 0.55) !important;
}

#ad-MyUsers .add_User_content{
	width: 100%;
	height: 100%;
	max-width: 500px;
	position: relative;
	overflow:hidden;
}


.UserForm{
	position: absolute;
	background: #73A3A6;
	width: calc(100% - 8px);
	height: calc(100% - 5px);
	top:0px;
	left:0px;
	animation: form_show 300ms  ease-out  ;
	overflow-y: auto;
	padding-right: 8px;
	text-align: right;
	padding-bottom: 5px;
}

.UserForm .NewUserForm-input {
	margin-bottom: 7px;
}



.UserForm .material-icons.cancel{
	color:#ff928a!important;
	position: fixed;
	cursor: pointer;
	font-size: 2.4em;
	transform: translateX(-30px) translateY(5px);
	z-index: 55;
}

.UserForm .material-icons.cancel:hover{
	font-size: 2.8em;
}


.UserForm .theme__error___3ilni {
	position: absolute;
	left: 0;
	color: rgba(255, 0, 0, 0.61)!important;
	font-size: 14px;
}

.UserForm  .theme__bar___2GHeb:before, .UserForm  .theme__bar___2GHeb:after{
	background-color:#394246!important;
}


.UserForm  *{
	color:#394246!important;
}

.UserForm .finish_edit:hover{
	background-color: #394246 !important;
	color: white !important;
}
.UserForm .finish_edit:hover *{
	color: white !important;
}
.UserForm .finish_edit .material-icons{
	color: white !important;
}





@keyframes form_show{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}


.add_User_content .empty{
	font-size: 1.5em;
	padding-top: 3rem;
	display: block;
	color: #394246;
}


.userItem {
	width: calc(100% - 10px);
	padding: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom: 1px solid white;
}

.userItem .user-info {
	width: calc(100% - 60px);
}

.userItem .user-buttons{
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userItem .user-buttons > span{
	height: 50%;
	width: 100%;
	cursor: pointer;
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.userItem .user-buttons > span.edit{
	color: #0a435d;
}
.userItem .user-buttons > span.edit:hover{
	font-size: 2.7em;
}

.userItem .user-buttons > span.mood{
	color: #7ab825;
}
.userItem .user-buttons > span.mood_bad{
	color: #ef6439;
}

.userItem .user-buttons > span.mood:hover,.userItem .user-buttons > span.mood_bad:hover{
	font-size: 2.7em;
}


.userItem .user-info .maindata {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.userItem .user-info .maindata .FIO{
	padding-left:  30px;
	display: block;
	font-size: 1.5em;
	color: #394246;
}



.userItem .user-info .mail {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.userItem .user-info .mail .material-icons{
	font-size: 2em;
	padding: 3px 10px;
	color:#0a435d;
}

.userItem .user-info .mail >span:last-child{
	font-size: 1.3em;
	color:#0a435d;
}

.userItem .user-info .logins{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;

}

.userItem .user-info .logins >span{
	font-size: 1.3em;
	color:#394246;
}

.userItem .user-info .logins >div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.userItem .user-info .logins >div >span{
	font-size: 1.3em;
	color:#394246;
}

.userItem .user-info .logins >div >span:last-child{
	color:#394246;
	font-size: 1em;
	padding-left: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;

}

.userItem .user-info .logins >div >span >span{
	color:#394246;
	padding-left: 5px;
	font-size: 1.1em;
}

.userItem .user-info .logins >div >span .material-icons{
	color:#394246;
	font-size: 1.9em;
	padding-left: 5px;
	cursor: pointer;
	background: transparent;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	border:0;
}

#ad-MyUsers .FiltListContainer,#ad-MyUsers .FiltListContainer .FiltList{
	height: 100%;
}
#ad-MyUsers .FiltListContainer input[type=search]{
	height:35px;
}

#ad-MyUsers .FiltListContainer .FiltList .FiltListContent{
	height: calc(100% - 35px);
}










