.TTActionItem {
	width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 22px;
    color: white;
    font-size: 22px;
    margin: 10px 10px;
}

.TTActionItem .material-icons {
	margin-right: 10px;
}


.TTActionItem .material-icons.Check{
	color:#a8f153;
}