.Dialog.visit {
	width: 100%;
}

.Dialog.visit h1{
	width: 100%;
	text-align: center;
}


.Dialog.visit .buttons{
	width: 100%;
	height:50px;
}

.Dialog.visit .buttons .material-icons{
	width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
}


.Dialog.visit .buttons .material-icons.check{
	background:#009688;
}


.Dialog.visit .buttons .material-icons.reject{
	background:#f44336;
}

.theme__body___1_nNM {
	padding: 0px !important;
}