.theme__navigation___2N9WO {
	background: #394246;
	height: 50px;
}

.theme__navigation___2N9WO  .theme__label___3A-Tl{
	font-size: 18px;
    color: white;
    padding: 0;
    width: 50%;
    line-height: 50px
}


.theme__tabs___2lGJI .theme__pointer___pWCM7{
    background: white;
}
.theme__tab___2YMGw.theme__active___2SLiK{
	background: #67777e;
	height: calc(100% - 50px);
}
.theme__tabs___2lGJI{
	height: calc(100% - 100px);
	padding:0;
}

.theme__tab___2YMGw{
	padding:0 !important;
}

.TTList{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.TTItem{
	display: block;
	text-decoration: none;
}