.TT_filter {
	width: 100%;
	height: 50px;
	background:#67777e;
	display: flex;
    flex-direction: row;
    position: relative;
    justify-content:space-between;

}


.TT_filter .material-icons.MY{
	color:white;
	line-height: 50px;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 40px;


}

.TT_filter .material-icons.MY.Selected{
    color:#7bd47b;
}



.TT_filter .theme__input___qUQeP {
	margin: 0px;
    padding: 0px;
    position: relative;
    width: calc(100% - 50px);
    
    line-height: 47px;
}
.TT_filter .theme__input___qUQeP.theme__withIcon___f6YT1{
	margin-left: 0px;
}

.TT_filter .theme__input___qUQeP .theme__inputElement___27dyY{
	display: block;
    width: calc(100% - 50px);
    /* padding: 10px 0; */
    font-size: 1.6rem;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    padding: 0;
    padding-left: 50px;
    line-height: 48px;
}


.TT_filter .theme__input___qUQeP .theme__icon___1_C6Z{
	top: 0;
    left: 0;
    width: initial;
    height: 50px;
    line-height: 50px !important;
    color: white;
}


.TT_filter .theme__inputElement___27dyY:focus:not([disabled]):not([readonly]) ~ .theme__icon___1_C6Z {
	    color: wheat !important;
}



.TT_filter .theme__bar___2GHeb:before, 
.TT_filter .theme__bar___2GHeb:after {
   
    background-color: wheat;
 
}

