.imageEditor{
	width: 100%;
	
}

.imageEditor .wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;

}



.imageEditor .input-wrapper {
	width: calc(100% -20px);
	height: 50px;
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 0px 10px;
	align-items: center;
	margin-bottom: 7px;
}
.imageEditor .input-wrapper:before{
	position: absolute;
	width: calc(100% - 70px);
	height: 1px;
	background: rgba(111, 111, 111, 0.42);
	content: '';
	bottom: 0;
	left: 70px;
}

.imageEditor .input-wrapper >input {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	opacity: 0;
	cursor: pointer;

}
.imageEditor .input-wrapper .material-icons{
	font-size: 2.5em;
	padding-right: 20px;
	color:#394246;
	padding-left: 10px;

}

.imageEditor .input-wrapper .file-name{
	font-size: 1.2em;

}