.menu_drawer_item{
	width: calc( 100% - 20px );
	padding: 15px 10px;
	font-family: 'Roboto';
	background: #212023;
	color:white;
	vertical-align: middle;
	margin-bottom: 1px;
	font-size: 20px;
}

.menu_drawer_item .material-icons{
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
	font-size: 25px;
}
