#order_menu {
	width: 100%;
	height: 50px;
	background:#394246;
	display: flex;
    flex-direction: row;
    position: relative;
    justify-content:space-between;
}


#order_menu .material-icons{
	color:white;
	font-size: 30px;
	line-height: 50px;
	padding: 0px 5px;
}


#order_menu img {
	height: 30px;

}





#order_menu .fs {
	height: 100%;
	margin-top:10px;
	margin-right: 10px;
}

#order_menu .fs .sync{
	margin-right: 10px;
}



