.imageDropDialog  img{
	max-width: 90vw;
	max-height: 70vh;
}


.imageDropDialog{
	text-align: center;
	background: black;
	overflow:hidden;
}

.imageDropDialog .box{
	width: 100%;
	height: 50px;
}


.imageDropDialog .box .material-icons{
	display: inline-block;
	width: 50%;
	height: 50px;
	text-align:40px;
	line-height: 50px;
	color:white;
	font-size: 35px;
}


.imageDropDialog .box .material-icons.drop{
	background: #f44336;
}

.imageDropDialog .box .material-icons.back{
	background: #009688;
}


.imageDropDialog .box .material-icons.no{
	background: #f44336;
}

.imageDropDialog .box .material-icons.yes{
	background: #009688;
}
