.tableContainer{
	width: 100%;
	height: 100%;

}

.tableContainer .tableFooter{
	width: 100%;
	height: 30px;
	position: relative;
	background: #394246;
}

.fixedDataTableCellLayout_wrap1.public_fixedDataTableCell_wrap1{
	width: 100%;
	height: 100%;
}

.public_fixedDataTableCell_cellContent{
	padding: 0!important;
	height: 100%;
	width: 100%;
}


.SuperCellCellWrapper.selected{
	border:2px solid black !important;
	height: calc(100% - 4px);
	width: calc(100% - 4px);
}

.SuperCellCellWrapper.selected .DragSquare{
	width: 5px;
	height: 5px;
	background: black;
	bottom: 0;
	right: 0;
	position: absolute;
	cursor: crosshair;
}

.GroupHeader{
	background: #394246;
	text-align: center;
	line-height: 30px;
	position: relative;
	color: white;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-weight: 200;

}

.GroupHeader > .GroupHeader_TONGLE{
	font-size: 20px;
	font-weight: 200;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #00bcd4;
	text-align: center;
	position: absolute;
	line-height: 20px;
	right: 2px;
	top: 1px;
	cursor: pointer;
}
.GroupHeader > .GroupHeader_TONGLE:hover{
	background: #009688;
	padding: 2px;
}
.SuperCellCellWrapper.hovered{
	background: grey;
}


.BI_ColumnHeader{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left: 2px;
	padding-right: 2px;
	background: #394246;
	color: white;
	padding-bottom: 2px;
	
}


.BI_ColumnHeader .material-icons{
	cursor: pointer;
	background: transparent;
	border: 0;
	padding: 0;
	color: #F5F5F5;
	
}


.BI_ColumnHeader.editable{
	background: #56685A;
}


.BI_ColumnHeader > span{
	height: 20px;
	width: calc(100% - 4px);	
	text-align: center;
	line-height: 20px;
	font-weight: 200;
	cursor:pointer;
}

.BI_ColumnHeader >input{
	height: 20px;
	background: transparent;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-color: white;
	border-style: solid;
	color: white;
	text-align: center;
	font-size: 1.2em;
	width: 80%;
	align-self: center;
	font-weight: 200;
}


.BI_ColumnHeader >input::-webkit-input-placeholder { 
  color: white;
  font-size: 1.4em;
  padding-left: .2rem;
  text-align: left;
}
.BI_ColumnHeader >input::-moz-placeholder { 
  color: white;
  font-size: 1.4em;
  padding-left: .2rem;
  text-align: left;
}
.BI_ColumnHeader >input:-ms-input-placeholder { 
  color: white;
  font-size: 1.4em;
  padding-left: .2rem;
  text-align: left;
}
.BI_ColumnHeader >input:-moz-placeholder {
  color: white;
  font-size: 1.4em;
  padding-left: .2rem;
  text-align: left;
}


.tableContainer textarea:focus, input:focus{
    outline: none;
}

.BI_ColumnHeader .DateRangePicker{
	width: calc(100% - 6px);
	height: 20px;
	font-size: 12px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	
}
.BI_ColumnHeader .DateRangePicker >div {
	width: 100%;
}
.BI_ColumnHeader .DateRangePicker .DateRangePickerInput {
	height: 100%;
	width: 100%;	
	margin: 0;
	padding: 0;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;	
	background-color: transparent;
	background: transparent;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

}
.BI_ColumnHeader  .DateRangePicker .DateRangePickerInput .DateInput{
	width: calc(50% - 20px);
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: white;				
}





.BI_ColumnHeader .DateRangePicker .DateRangePickerInput .DateRangePickerInput__arrow{
	height: 100%;
	width: 20px;
	font-size: 12px;
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;	
}

.BI_ColumnHeader  .DateRangePicker .DateRangePickerInput 
		.DateInput .DateInput__display-text.DateInput__display-text--has-input{
			color: white;
		}

.BI_ColumnHeader  .DateRangePicker .DateRangePickerInput 
		.DateInput .DateInput__display-text{
	padding: 0px 2px; 
	text-align: center;

}




.BI_ColumnHeader  .DateRangePicker .DateRangePickerInput 
		.DateInput .DateInput__display-text--focused{
	background: #007a87;
    border-color: #007a87;
    border-radius: 3px;
    color: white;
}

.BI_ColumnHeader  .DateRangePicker .DateRangePickerInput .DateRangePickerInput__clear-dates {
	padding: 2px;
	margin-right: 0px;
	margin-left: 0px;
}

.BICell {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
  align-items: center;
	flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  color:#394246;
  cursor:pointer;
}

.BICell.Selected{
	background: grey;
}












