#adm_routes {
	flex-direction: column;
}
#adm_routes .routes-filters{
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding-bottom: 1px;
	border-bottom: 2px solid #0a435d;
}

#adm_routes .routes-container{
	width: 100%;
	height: calc(100% - 50px);
	margin-top: 7px;
	position: relative;
}


#adm_routes .routes-filters .Swith-view-button{
	height: 40px;
	width: 90px;
	cursor: pointer;
	background: #394246;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border: 0;
	color:#F5F5F5;
	border-radius: 9px;
}

#adm_routes .routes-filters .Swith-view-button .material-icons{
	font-size: 26px;

}


#adm_routes .routes-filters .filters-weekends{
	height: 40px;
	width: 100px;
	cursor: pointer;
	background: #394246;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border: 0;
	color:#F5F5F5;
	border-radius: 9px;
}

#adm_routes .routes-filters .DateRangePickerInput{
	height: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background: transparent;
	border:0;

}


#adm_routes .routes-filters .DateRangePickerInput .DateInput{
	height: 30px;
	padding: 0 8px;
	background: transparent;
	cursor: pointer;
	width: 80px;
}

#adm_routes .routes-filters .DateRangePickerInput .DateInput >*{
	color: #394246;
	cursor: pointer;
}

#adm_routes .routes-filters .DateRangePickerInput .DateRangePickerInput__arrow{
	color:#394246;
	font-weight: 600;
	font-size: 1.4em;
}


#adm_routes .routes-filters .filter-butons{
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#adm_routes .routes-filters .filter-dates{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding-bottom: 2px;
	border-bottom: 1px solid #394246;
}

#adm_routes .routes-filters .filter-dates >span.material-icons{
	color:#394246;
	font-size: 30px;
	padding:0 8px;
}






