#USERS_TT .parts{
	width: calc(50% - 20px);
	height: 100%;
	padding-right: 10px;
	overflow: hidden;
}

#USERS_TT{
	justify-content: space-between;
}
#USERS_TT .parts .userAvatar{
	width: calc(100% - 42px);
	height: 50px;
	margin: 5px 0; 
	padding: 0px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid white;
	cursor:move;
}

#USERS_TT .parts .userAvatar>span:not(.material-icons){
	width: calc(100% - 100px);
	text-align: center;
	color:#394246;
	font-size: 1.4em;

}


#USERS_TT .parts .userAvatar .material-icons{
	font-size: 2.5em;
}

#USERS_TT .parts .userDropTarget{
	width: calc(100% - 2px);
	height: calc(100% - 97px);
	border: 1px solid white;
}

#USERS_TT .parts .userDropTarget > h1{
	width: calc(100% - 50px);
	padding: 0px 25px;
	font-size: 1.5em;
	line-height: 1.8em;
	color: #394246;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#USERS_TT .FiltListContainer,#USERS_TT .FiltListContainer .FiltList  {
	height: 100%;
}

.FiltListHeader.TT_header{
	height: 40px;
	background: #394246;
	font-size: 1.2em;
	padding: 0;
}
#USERS_TT .FiltListContainer .FiltList.TTListUsers  {
	height: calc(100% - 40px);
}
#USERS_TT .FiltListContainer .FiltList .FiltListContent{
	height: calc(100% - 1.1rem - 1em - 5px);
	padding-bottom: 5px;
}

#USERS_TT .usersTT-li{
	position: relative;
	width: calc(100% - 10px);
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	flex-wrap: nowrap;
	border-bottom: 1px solid white;
	
}

#USERS_TT .usersTT-li > span {
	color: #394246;
	padding: 4px 0;
	font-size: .9em;
	line-height: 1em;
	display: block;
}

#USERS_TT .usersTT-li .material-icons{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 2em;
	padding: 4px;
	color:#ef6439;
	display: none;
	cursor:pointer;
}

#USERS_TT .usersTT-li:hover .material-icons{
	display: block;
}


.usrTT-avatar {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0px 10px;
}

.usrTT-avatar:hover .material-icons{
	opacity: .8;
}

.usrTT-avatar .material-icons{
	width: 40px;
	height: 40px;
	background: #ef6439;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	opacity: 0;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	top:0;
	left: 0;
}


.TT-li{
	width: calc(100% - 22px);
	padding: 0px 10px 10px 10px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.TT-li .main-data{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.TT-li .main-data .tt-info{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
}

.TT-li .main-data .tt-info >span{
	padding: 5px 0px;
	color:#394246;
	font-size: .9em;
	line-height: 1em;
	display: block;
}


.TT-li .main-data .material-icons{
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.4em;
	color:#394246;
	cursor: move;
}

.TT-li .tt-users{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#USERS_TT .parts .no-data-err{
	width: calc(100% - 22px);
	height: calc(100% - 2px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
	color:#394246;
	font-size: 1.4em;
	border: 1px solid white;
	margin: 0;
	line-height: 1.5em;
}
