#Admin_Menu{
	position: relative;
	display: block;
	width: 0px;
	height: 100%;
	transform-style:preserve-3d;
	float:left; 
	transition: width ease 500ms; 
}



#Admin_Menu.show{
	width: 100px;
}




#Admin_Menu >nav{
	background: #394246;
	transform: rotateY(-180deg);
}


#Admin_Menu >nav{
	height: 100%;
	width: 100%;
	display:block;
	backface-visibility:hidden;
	top:0; 
	left:0;
	transform-style:preserve-3d;
	transition: transform ease-out 500ms; 
}


#Admin_Menu.show >nav{
	transform: rotateY(0deg);
}

#Admin_Menu >nav >ul{
	margin: 0;
	list-style-type: none;
	padding-left: 0px;
}

#Admin_Menu >nav >ul>li{
	position: relative;
	width: 100px;
	height:70px;
	cursor: pointer;
	transition:all .4s ease-out;
	overflow:hidden;
	transform-style: preserve-3d;
}


#Admin_Menu >nav >ul>li > span{
	position: absolute;
	width: 100px;
	height: calc(100% - 1px);
	background: #0a435d;
	display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    transition:all .4s ease-out;
    color:#F5F5F5;
    border-bottom:1px solid #F5F5F5;
}

#Admin_Menu >nav >ul>li > .material-icons{
	left:0;
	font-size: 2.5em;
	
}

#Admin_Menu >nav >ul>li > .title{
	width: 100px;
	background: #F5F5F5;
	color: #0a435d;
	left: 100px;
	opacity:.5;
	transform: perspective(400px) rotateY(90deg) ;
	transform-origin: 0 100%;
	
}
#Admin_Menu >nav >ul>li.selected>span:before{
	width: 3px;
	height: 69px;
	content: '';
	background: #00bcd4;
	position: absolute;
	right: 0;
	top: 0;
}

#Admin_Menu >nav >ul>li.selected>span:after{
	width: 10px;
	height: 10px;
	transform: rotateZ(45deg) translateX(3px) ;
	content: '';
	background: #00bcd4;
	position: absolute;
	right: 0px;
	top: 25px;
}


#Admin_Menu >nav >ul>li:hover .material-icons {
	transform: translateX(-100px);
}

#Admin_Menu >nav >ul>li:hover > .title  {
  	opacity:1;
	transform: perspective(400px) rotateY(0deg)   translateX(-100px);;
}


















